<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactnativevideozoomsdk">

  <application>
    <service
      android:name=".NotificationService"
      android:exported="false"
      android:foregroundServiceType="mediaProjection" />
  </application>

</manifest>
